*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: white; 
    margin: 0;
}
/*.container{
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;*/
}

.login{
    margin-top: 30px;
}

.login img{
    width: 470px;
    height: 600px;
    filter: brightness(0.3);
    position: relative;
    left: 250px;
    margin-top: 300px;
}
.h2-login1{
    font-family: 'lato', sans-serif;
    background: #fff;
    text-align: start;
    font-size: 30px;
    font-weight: 800;
    margin-left: 300px;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute; 
    margin-top: -350px;
}
.h2-login2{
    font-family: 'lato', sans-serif;
    background: #fff;
    text-align: start;
    font-size: 30px;
    font-weight: 800;
    margin-left: 300px;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute; 
    margin-top: -310px;
    display: flex;
}
.h2-login3{
    font-family: 'lato', sans-serif;
    background: #fff;
    text-align: start;
    font-size: 30px;
    font-weight: 800;
    margin-left: 300px;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute; 
    margin-top: -270px;
    display: flex;
}
.form2{
    width: 470px;
    height: 600px;
    background: #ffffff;
    border: 2px solid #e0e0e0;
    margin-left: 700px;
    margin-top: -604px;
    overflow: hidden;
    position: absolute;
}

.password i{
    color: #000000;
    position: relative;
    opacity: 0.3;
    cursor: pointer;
}
.form2 h4{
    color:#BDBDBD;
    font-family: 'nova', sans-serif;
    font-size: 12px;
    line-height: 12px;
    margin-top: 10px;
    margin-left: 22px;
    text-align: start;
}
.form2 h3{
    font-family: 'nova', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    margin-top: 200px;
    margin-left: 20px;
    text-align: left;
}
.form2 h5{
    display: flex;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    font-family: 'lato', sans-serif;
    margin-top: -15px;
    margin-left: 80px;
}
.form2 h5 a{
    text-decoration: none;
}
.form2 input{
    width: 400px;
    height: 50px;
    position: relative;
    left: 25px;
    margin-top: 20px;
    border: 2px solid #e0e0e0;
    outline: none;
    font-family: 'lato', sans-serif;
    font-size: 13px;
    line-height: 10px;
    border-radius: 3px;
    justify-content: space-between;
    padding-left: 30px; 
    color: #828282;
}
.form2 button{
    width: 150px;
    height: 40px;
    color: #fff;
    background-color: #057135;
    margin-left: 270px;
    margin-top: 15px;
    border: 0px solid #057135;
    cursor: pointer;
    outline: none;
    font-size: 12px;
    font-family: 'lato', sans-serif;
    position: relative;
}
.login-a{
    font-family: 'lato', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    display: flex;
    margin-left: 120px;
    margin-top: -30px;
    position: absolute;
    text-decoration: none;
}
.login .btw{
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    margin: 50px;
    margin-top: 400px;
    left: 100px;
    font-family: 'nona', sans-serif;
    font-weight: 400;
    position: absolute;
    margin-left: 200px;
    z-index: 1;
    color: #fff;
}
.login .btw:hover{
    color: red;
}


@media only screen and (max-width: 768px){

     .login img{
        visibility: hidden;
    }
    .h2-login1 {
        visibility: hidden;
    }
    .h2-login2{
        visibility: hidden;
    }
    .h2-login3{
        visibility: hidden;
    }
  
    .form2{
        box-shadow: 0 5px 10px 0px rgba(0,0,0,0.1);
        margin-left: 135px;
        margin-top: -800px;
    
    }
    .login .btw{
        top: -330px;
        color: #000;
        font-weight: 700;
        left: 22px;
    }
   
    
}
@media only screen and (max-width: 600px){
    .form2{
        margin-left: 50px;
        width: 400px;
        height: 500px;
    }
    .form2 input{
        width: 350px;
    }
    .form2 button{
        margin-left: 220px;
    }
    .login-a{
        margin-left: 80px;
    }
    .form2 button:hover{
        opacity: 0.2;
    }
     .login .btw{
        color: #000000;
        font-weight: 700;
        margin-left: 22px;
        position: absolute;
        top: -330px;
    }
    
 
}
































































